body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  padding-right: 5px;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  -webkit-filter: blur(0);
          filter: blur(0);
  background-image: linear-gradient(45deg, #7ba4b1, #47595e);
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navbar {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(194, 235, 235, 0.45)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(194, 235, 235, 0.45));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.1);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.1);
  backdrop-filter: blur(55px);
  -webkit-backdrop-filter: blur(55px);
  border-radius: 20px;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  width: 95%;
  height: auto;
  margin: 10px auto;
  padding: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.navbar-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
  position: relative;
}
.navbar-part-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 10px;
}
.navbar-part-info a {
  color: #fff !important;
}
.navbar-part-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.navbar-part-info ul li {
  margin: 0 10px;
  color: #333 !important;
}
.navbar-part-shop {
  margin-right: 10px;
  color: #fff !important;
}
.navbar-part-shop .MuiIconButton-root {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(194, 235, 235, 0.45)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(194, 235, 235, 0.45));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.1);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.1);
  backdrop-filter: blur(55px);
  -webkit-backdrop-filter: blur(55px);
  border-radius: 20px;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  background: rgba(193, 214, 214, 0.2) !important;
  border-radius: 30%;
}

.main {
  width: 95%;
  margin: 30px auto 0;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(194, 235, 235, 0.45)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(194, 235, 235, 0.45));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.1);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.1);
  backdrop-filter: blur(55px);
  -webkit-backdrop-filter: blur(55px);
  border-radius: 20px;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
}
.main-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main-items ul li {
  margin: 0 5px;
}
.main .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}
.main .search .search-icon {
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}
.main .search input {
  border: none;
  outline: none;
  padding-left: 30px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
  caret-color: #fff;
  background-color: transparent;
  border-bottom: 1.9px solid #fff;
}
.main .search input::-webkit-input-placeholder {
  color: #ccc;
}
.main .search input::-moz-placeholder {
  color: #ccc;
}
.main .search input:-ms-input-placeholder {
  color: #ccc;
}
.main .search input::-ms-input-placeholder {
  color: #ccc;
}
.main .search input::placeholder {
  color: #ccc;
}
.main-items {
  padding: 0 20px;
  margin-top: 50px;
}
.main-items-box {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(194, 235, 235, 0.45)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(194, 235, 235, 0.45));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.1);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.1);
  backdrop-filter: blur(55px);
  -webkit-backdrop-filter: blur(55px);
  border-radius: 20px;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  width: 200px;
  height: auto;
  padding: 10px;
  margin: 10px 0;
  clear: both;
  position: relative;
}
.main-items-box img {
  position: relative;
  width: 100%;
  height: 200px;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  z-index: 13;
}
.main-items-box h6, .main-items-box h5 {
  margin: 0;
  padding: 2px 5px;
}
.main-items-box .cost-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 2px;
}
.main-items-box .cost-btn h5 {
  font-size: 16px;
}
.main-items-box .cost-btn button {
  padding: 10px 30px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.45);
  -webkit-box-shadow: 0 1px 32px 0 rgba(31, 38, 135, 0.1);
          box-shadow: 0 1px 32px 0 rgba(31, 38, 135, 0.1);
  backdrop-filter: blur(55px);
  -webkit-backdrop-filter: blur(55px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.02);
}

.footer {
  width: 100%;
  margin-top: 30px;
  color: #fff;
}
.footer-wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-areas: "left-center right-top right-top" "left-center right-bottom right-bottom";
  width: 95%;
  min-height: 350px;
  margin: 0 auto;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.footer-wrapper div {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(194, 235, 235, 0.45)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(194, 235, 235, 0.45));
  -webkit-box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.1);
          box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.1);
  backdrop-filter: blur(55px);
  -webkit-backdrop-filter: blur(55px);
  border-radius: 20px;
  border: 1.2px solid rgba(255, 255, 255, 0.15);
  padding: 15px;
}
.footer-wrapper .left {
  grid-area: left-center;
  margin-right: 10px;
}
.footer-wrapper .right-top {
  grid-area: right-top;
  margin-bottom: 5px;
}
.footer-wrapper .right-bottom {
  grid-area: right-bottom;
  margin-top: 5px;
}
@media only screen and (max-width: 800px) {
  .footer-wrapper {
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-areas: "left-center left-center" "right-top right-bottom";
    margin-bottom: 40px;
  }
  .footer-wrapper .left {
    margin-right: 0;
  }
  .footer-wrapper .right-top {
    margin-bottom: 0;
    margin-top: 10px;
    margin-right: 5px;
  }
  .footer-wrapper .right-bottom {
    margin-top: 10px;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 556px) {
  .footer-wrapper {
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-template-areas: "left-center" "right-top" "right-bottom";
    margin-bottom: 50px;
  }
  .footer-wrapper .right-top {
    margin-right: 0;
  }
  .footer-wrapper .right-bottom {
    margin-left: 0;
  }
}/*# sourceMappingURL=style.css.map */