@mixin d-sb{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
@mixin d-sa{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
@mixin d-ss{
    display:flex;
    align-items: center;
    justify-content: center;
}
@mixin glass{
    background: linear-gradient(to right,  rgba( 255, 255, 255, 0.1 ), rgba(194, 235, 235, 0.45));
    box-shadow: 0 1px 32px 0 rgba(49, 51, 77, 0.1);
    backdrop-filter: blur( 55px );
    -webkit-backdrop-filter: blur( 55px );
    border-radius: 20px;
    border: 1.2px solid rgba( 255, 255, 255, 0.15 );
}
body{
    box-sizing: border-box;
    width: 100vw;
    margin: 0 auto;
    padding: 0;
    padding-right: 5px;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    // background-color:#596a6e;
    filter:blur(0);
    background-image:linear-gradient(45deg, #7ba4b1,#47595e );
}
a{
    display: inline-block;
    text-decoration: none;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.navbar{
    @include glass;
    width: 95%;
    height: auto;
    margin: 10px auto;
    padding: 8px 0;
    box-sizing:border-box;
    &-part{
        @include d-sb;
        width: 100%;
        height: auto;
        position: relative;
        &-info{
            @include d-sb;
            width: 100%;
            padding: 10px;
            a{
                color: #fff !important;
            }
            ul{
                @include d-sa;
                li{
                    margin: 0 10px;
                    color: #333 !important;
                }
            }
        }
        &-shop{
            margin-right: 10px;
            color: #fff !important;
            .MuiIconButton-root{
                @include glass;
                background: rgba(193, 214, 214, 0.2) !important;
                border-radius: 30%;
            }
        }
    }
}
.main{
    width: 95%;
    margin: 30px auto 0;
    padding: 10px;
    box-sizing:border-box;
    @include glass;
    &-items{
       ul{
            display:flex;
            align-items:center;
            justify-content: space-around;
            flex-direction:row;
            flex-wrap: wrap;
            li{
                margin: 0 5px;
            }
       }
    }
    .search{
        @include d-ss;
        padding: 10px;
        .search-icon{
            transform: translateX(25px);
        }
        input{    
            border:none;
            outline:none;
            padding-left: 30px;
            font-size: 1.1rem;
            font-family: 'Poppins', sans-serif;
            color: #fff;
            caret-color: #fff;
            background-color: transparent;
            border-bottom: 1.9px solid #fff;
        }
        input::placeholder{
            color: #ccc;
        }
    }
    &-items{
        padding: 0 20px;
        margin-top: 50px;
        &-box{
            @include glass;
            width: 200px;
            height: auto;
            padding: 10px;
            margin: 10px 0;
            clear:both;
            position: relative;
          
            img{
                position: relative;
                width: 100%;
                height: 200px;
                vertical-align: middle;
                object-fit: cover;
                border-radius: 20px;
                z-index: 13;
            }
            h6,h5{
                margin: 0;
                padding: 2px 5px;
            }
            .cost-btn{
                @include d-sb;
                margin: 10px 0 2px;
                h5{
                    font-size:16px;
                }
                button{
                    padding: 10px 30px;
                    font-family: 'Poppins', sans-serif;
                    font-weight: bold;
                    outline:none;
                    cursor: pointer;
                    background: rgba(255, 255, 255, 0.45);
                    box-shadow: 0 1px 32px 0 rgba( 31, 38, 135, 0.1 );
                    backdrop-filter: blur( 55px );
                    -webkit-backdrop-filter: blur( 55px );
                    border-radius: 15px;
                    border: 1px solid rgba( 255, 255, 255, 0.02 );
                }
            }
        }
        
    }
}

//Footer

.footer{
    width:100%;
    margin-top: 30px;
    color:#fff;
    &-wrapper{
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: repeat(auto-fill, 1fr);
        grid-template-areas: "left-center right-top right-top"
                             "left-center right-bottom right-bottom";                    
        width: 95%;
        min-height: 350px;
        margin: 0 auto;
        margin-bottom: 30px;
        box-sizing: border-box;
        div{
            @include glass;
            padding: 15px;
        }
        .left{
            grid-area: left-center;
            margin-right: 10px;
        }
        .right-top{
            grid-area: right-top;
            margin-bottom: 5px;
        }
        .right-bottom{
            grid-area: right-bottom;
            margin-top: 5px;
        }
    
    }
    @media only screen and (max-width: 800px){
        &-wrapper{
            grid-template-columns: repeat(auto-fill, 1fr);
            grid-template-areas: "left-center left-center"
                                 "right-top right-bottom"; 
            margin-bottom: 40px;
            .left{
                margin-right: 0;
            }
            .right-top{
                margin-bottom: 0;
                margin-top: 10px;
                margin-right: 5px;
            }
            .right-bottom{
                margin-top: 10px;
                margin-left: 5px;
            }
        }
    }
    @media only screen and (max-width: 556px){
        &-wrapper{
            grid-template-rows: repeat(auto-fill, 1fr);
            grid-template-columns: repeat(auto-fill, 1fr);
            grid-template-areas: "left-center"
                                 "right-top"
                                 "right-bottom";  
            .right-top{
                margin-right: 0;
            }
            .right-bottom{
                margin-left: 0;
            } 
            margin-bottom: 50px;
        }
    }
}
